{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
Login
{% endblock %}


{% block content %}


<div id="loginContainer" class="container">
    <div id="formContent">
        <h1 class="formContent">Login</h1>
        <div class="formContent" class="row">
            <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
    
                {{ render_form(form) }}
    
            <p class="pt-5"><strong>{{ message }}</strong></p>
    
            </div>
        </div>
    </div>
    
</div>

<style>
    #loginContainer {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .formContent {
        max-width: 400px;
        margin: 0 auto;

    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-input,
    .form-textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .form-button {
        background-color: #4caf50;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .form-button:hover {
        background-color: #45a049;
    }
</style>

{% endblock %}