{% extends 'base.html' %}

{% block content %}
<div id="addPostContainer">
    <h1>Register</h1>
    <form id="addPostForm" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" class="form-input" required>

        <label for="password">Password:</label>
        <input id="password" class="form-input" required></input>

        <label for="password">Confirm password:</label>
        <input id="confirmPassword" class="form-input" required></input>

        <button type="button" class="form-button" onclick="submitPost()">Register</button>
    </form>
</div>

<style>
    #addPostContainer {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-input,
    .form-textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .form-button {
        background-color: #4caf50;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .form-button:hover {
        background-color: #45a049;
    }
</style>

<script>
    async function submitPost() {
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        const response = await fetch('/auth/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ username, password, confirmPassword }),
        });

        if (response.ok) {
            window.location.href = '/posts';
        } else {
            console.error('Failed to submit post:', response.status);
            window.location.href = '/auth/error';
        }
    }
</script>
{% endblock %}
